@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
body{
    margin-left: 7%;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(217, 199, 233);
    
}
.contenedor{
    background-color: white;
    width: 1000px;
    height: 700px;
    border: 2px solid rgb(217, 199, 233) ;
    margin: 0 auto;

}

.titulo{
    color: rgb(87, 64, 218);
}
.img{
    left: 500px;
    margin: 0 auto;
    display: block;
}
button{ 
    width: 120px;
    height: 50px;
    border:  2px solid rgb(87, 64, 218);
    background-color: rgb(217, 199, 233);
}
li{
    display: inline-block;
    

}
.btn{
    background-color: white;
}